<script setup>
import { computed, provide, ref, watch } from 'vue';

import Header from './components/Header.vue';
import Drawer from './components/Drawer.vue';

const cart = ref([]);

const drawerOpen = ref(false)
const totalPrice = computed(() => cart.value.reduce((acc, item) => acc + item.price, 0))
const vatPrice = computed(() => Math.round(totalPrice.value * 0.05))

const closeDrawer = () => {
  drawerOpen.value = false
}

const openDrawer = () => {
  drawerOpen.value = true
}


const addToCart = (item)=> {
  cart.value.push(item)
    item.isAdded = true
}

const removeFromCart = (item) => {
    cart.value.splice(
      cart.value.indexOf(item), 1
    )
    item.isAdded = false
  }

watch(cart, () => {
  localStorage.setItem('cart', JSON.stringify(cart.value))
},
{deep: true})

provide('cart', {
  closeDrawer, 
  openDrawer,
  cart,
  addToCart,
  removeFromCart
})
</script>

<template>
<div class="rounded-xl bg-white w-4/5 m-auto shadow-xl mt-14">
    <Drawer v-if="drawerOpen" :total-price="totalPrice" :vat-price="vatPrice"/>
    <Header :total-price="totalPrice" @open-drawer="openDrawer"/>
    <div class="p-10">
      <RouterView />
    </div>
</div>
</template>
