<script setup>
    import axios from 'axios';
    import { onMounted, ref } from 'vue';
    import CardList from '../components/CardList.vue';

    const favorites = ref([])
    onMounted(async() => {
        try {
            const {data} = await axios.get(`https://d78527cc1d418240.mokky.dev/favorites?_relations=items`)
            favorites.value = data.map(favorite => favorite.item)
        }
        catch (e) {
            console.log(e)
        }
    })
</script>


<template>
    <div>
        <h2 class="text-3xl font-bold mb-8">Мои закладки</h2>
        <div class="mt-10">
            <CardList :items="favorites" is-favorites/>
        </div>
    </div>
</template>