<script setup>
import axios from 'axios';
import { inject, reactive, watch, ref, onMounted } from 'vue';
import CardList from '../components/CardList.vue';
import debounce from 'lodash.debounce';

const { cart, addToCart, removeFromCart } = inject('cart')

const items = ref([]);

const filters = reactive({
  sortBy: 'title',
  searchQuery: ''
})

const onClickAddPlus = (item) => {
  item.isAdded ? removeFromCart(item) : addToCart(item)
}

const onChangeSelect = event => {
  filters.sortBy = event.target.value
}

const onChangeSearchInput = debounce(event => {
  filters.searchQuery = event.target.value
}, 333)

const addToFavorite = async (item) => {
  try {
    if (!item.isFavorite){
      const obj = {
        item_id: item.id
      }
      item.isFavorite = true
      const { data } = await axios.post(`https://d78527cc1d418240.mokky.dev/favorites`, obj)
      item.favoriteId = data.id
    }
    else{
      item.isFavorite = false
      await axios.delete(`https://d78527cc1d418240.mokky.dev/favorites/${item.favoriteId}`)
      item.favoriteId = null
    }
  }
  catch (e) {
    console.log(e)
  }
}

const fetchFavorites = async() => {
  try {
    const { data: favorites } = await axios.get(`https://d78527cc1d418240.mokky.dev/favorites`)
    items.value = items.value.map(item => {
      const favorite = favorites.find(favorite => favorite.item_id === item.id)
      if (!favorite) {
        return item
      }

      return { ...item, isFavorite: true, favoriteId: favorite.id }
    })
  }
  catch (e) {
    console.log(e)
  }
}

const fetchItems = async() => {
  try {
    const params = {
      sortBy: filters.sortBy,
    }
    if (filters.searchQuery) {
      params.title = `*${filters.searchQuery}*`
    }
    const { data } = await axios.get(`https://d78527cc1d418240.mokky.dev/items`, { params })
    items.value = data.map(item => ({ ...item, isFavorite: false, favoriteId: null, isAdded: false }))
  }
  catch (e) {
    console.log(e)
  }
}

//вызывается один раз
onMounted(async() =>{
  const localCart = localStorage.getItem('cart')
  cart.value = localCart ? JSON.parse(localCart) : []

  await fetchItems()
  await fetchFavorites()

  items.value = items.value.map((item) => ({
    ...item,
    isAdded: cart.value.some((cartItem) => cartItem.id === item.id)
  }))
})

watch(filters, fetchItems)

watch(cart, () => {
  items.value = items.value.map((item) => ({
    ...item,
    isAdded: false
  }))
})
</script>

<template>
    <div>
        <div class="flex justify-between items-center">
            <h2 class="text-3xl font-bold mb-8">Все кроссовки</h2>

            <div class="flex gap-4">
            <select @change="onChangeSelect" class="py-2 px-3 border rounded-md outline-none">
            <option value="title">По названию</option>
            <option value="price">По цене (дешевые)</option>
            <option value="-price">По цене (дорогие)</option>
            </select>

            <div class="relative">
            <img src="/search.svg" alt="" class="absolute top-3 left-4">
            <input @input="onChangeSearchInput" type="text" placeholder="Поиск..." class="outline-none border rounded-md pl-11 pr-4 py-2 focus:border-gray-400">
            </div>
        </div>

        </div>
        <div class="mt-10">
            <CardList :items="items" @add-to-favorite = "addToFavorite" @add-to-cart="onClickAddPlus"/>
        </div>
    </div>
</template>